# Configuration file

general {
    S:modPack=Vanilla
    S:modPackVersion=1.0
    B:spammyLogs=false

    optout {
        B:OS=false
        B:clientTime=false
        B:environment=false
        B:installID=false
        B:javaVersion=false
        B:minecraftVersion=false
        B:modPack=false
        B:modPackVersion=false
        B:ramAllocated=false
        B:ramMax=false
        B:sessionID=false

        mods {
            B:Aroma1997Core=false
            B:Aroma1997CoreHelper=false
            B:Aroma1997sDimension=false
            B:Baubles=false
            B:BiblioCraft=false
            B:Chameleon=false
            B:DurabilityShow=false
            B:FML=false
            B:Forge=false
            B:JEI=false
            B:MineTweaker3=false
            B:StorageDrawers=false
            B:Waila=false
            B:additionalbanners=false
            B:armorplus=false
            B:backpacks16840=false
            B:bloodmoon=false
            B:chisel=false
            B:compatlayer=false
            B:crafttweakerjei=false
            B:ctgui=false
            B:ctm=false
            B:customnpcs=false
            B:customspawner=false
            B:denseores=false
            B:disenchanter=false
            B:forgeessentialsclient=false
            B:gravestone=false
            B:guideapi=false
            B:harvestcraft=false
            B:icse=false
            B:inventorytweaks=false
            B:journeymap=false
            B:mantle=false
            B:mcp=false
            B:mercurius_updater=false
            B:mocreatures=false
            B:modtweaker=false
            B:mtlib=false
            B:roguelike=false
            B:rpghud=false
            B:tconstruct=false
            B:thedragonlib=false
            B:vtb=false
            B:wawla=false
            B:worldedit=false
            B:xreliquary=false
        }

    }

}


