# Configuration file

~CONFIG_VERSION: 0.1.0

world-28099300 {
    # Dar intes invês de mostrar a receita.
    B:cheatItemsEnabled=false

    # Esconda e Mostre itens ao clicar neles na lista de itens.
    B:editEnabled=false
    S:filterText=

    # Mostrar a lista de itens ao lado das janelas abertas.
    B:overlayEnabled=true
}


